    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Ingrese Usuario y Contraseña</h4>
                        </div>
                        <div class="card-body">
                                <!-- <form autocomplete="off"  >
                                    <fieldset>
                                        <div class="modal-container">
                                            <div class="row">
                                                <div class="form-field">
                                                    <label> Email: &nbsp;</label>
                                                    <input #email>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-field">
                                                    <label>Area: &nbsp;</label>
                                                    <mat-form-field appearance="fill">
                                                        <mat-select  #area *ngFor="let area of areaList">
                                                            <mat-option  value={{area.ID}}>{{area.Descripcion}}</mat-option>
                                                        </mat-select>
                                                        </mat-form-field>                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-field">
                                                    <label>Password: &nbsp;</label>
                                                    <input name="confirm" #password type="password">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-field">
                                                    <label>Confirm: &nbsp;</label>
                                                    <input name="confirm"  type="password">
                                                </div>
                                            </div>
                                        </div>
                                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="singUp(email.value,password.value)">Confirmar</button>
                                        <div class="clearfix"></div>
                                    </fieldset>
                                    
                                </form> -->
                           
                            <div class="row">
                                <h4 class="col-sm-12">Usuario (Email): </h4>
                                <input autocomplete="off" class="form-control" #email>
                            </div>
                            <div class="row">
                                <h4 class="col-sm-12">Contraseña: </h4>
                                <input type="password" class="form-control" #password>
                            </div>
                           
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="signIn(password.value,email.value);">Ingresar</button>

                        </div>
                    </div>
                </div>
      
            </div>
        </div>
      </div>
      
      <ng-template #espere let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Iniciando Sesion</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
            <mat-spinner></mat-spinner>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click');getTickets()">Cerrar</button>
        </div> -->
      </ng-template>

      <ng-template #exito let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Usuario Conectado con Exito</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click');getTickets()">Cerrar</button>
        </div>
      </ng-template>

      <ng-template #falla let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Error en Usuario o Contraseña vuelva a intentarlo</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Si el problema persiste contacte al administrador del sistema &hellip;</p>
          <smal>arturo.martinez@univer-gdl.edu.mx</smal>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click');getTickets()">Cerrar</button>
        </div>
      </ng-template>