<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Completar Ticket</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <ng-container *ngFor="let preguntas of preguntasArray">
                                <div class="row">    
                                    <div class="col-lg-6"><h4>{{preguntas.pregunta}}</h4></div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" >
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            SI
                                            <input class="form-check-input" type="checkbox" value="" >
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            NO
                                            <input class="form-check-input" type="checkbox" value="" >
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="col-lg-6"><h4>Notas</h4></div>
                            <input #descripcion class="form-control">
                            <!-- <h4>Subir Archivo</h4>
                            <br>
                            <div class="custom-file">
                                <span  class="input-group-text upload"  (click)="upload()"  id="btnUpload">Upload</span>
                                <form action="/api/upload"  method="post" enctype="multipart/form-data">
                                    <input (change)="fileChange($event)" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                </form>
                                <label class="custom-file-label" for="inputGroupFile01"></label>
                            </div> -->
                            <br>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="completarTicket(ticket.ID,descripcion.value);close()">Completar Ticket</button>
                            <div class="clearfix"></div>

                        </form>
                        
                        <!-- <div class="row">
                            <span  class="input-group-text upload"  (click)="upload()"  id="btnUpload">Subir Evidencia</span>
                            <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                        </div> -->
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>

  <ng-template #exito let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Ticket Generado con Exito</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div> -->
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click');getTickets()">Cerrar</button>
    </div>
  </ng-template>
  