
<div  class="main-content">
    <div class="container-fluid">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Ingrese Usuario y Contraseña</h4>
                </div>
                <div class="card-body">
                      
                   <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" >
                   
                    <div class="row">
                      <h4 class="col-sm-12">Email: </h4>
                      <input disabled type="text" formControlName="email" class="form-control" [value]="usuario.Usuario"/>
                      <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Username is required</div>
                      </div> -->
                  </div>
                  <br>
                  <!-- <div class="row">
                      <h4 class="col-sm-12"> Contraseña Actual: </h4>
                      <input ngModel name="password" type="password" class="form-control" #password
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">La Contraseña es Obligatoria</div>
                    </div>
                  </div> -->
                  <div class="row">
                    <h4 class="col-sm-12"> Contraseña Nueva: </h4>
                    <input ngModel name="nueva" type="nueva" class="form-control" #nueva
                    [ngClass]="{ 'is-invalid': submitted && f.nueva.errors }">
                    <div *ngIf="submitted && f.nueva.errors" class="invalid-feedback">
                      <!-- <div *ngIf="f.nueva.errors.required">La Contraseña es Obligatoria</div> -->
                  </div>
                </div>
                   <div class="row">
                    <button [disabled]="loading" mat-raised-button class="btn btn-danger pull-right" (click)="modal.dismiss('Cross click')">Cambiar Contraseña</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                   </div>
                  </form>
             
                </div>
            </div>
  
    
    </div>
  </div>

  <ng-template #exito let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Ticket Generado con Exito</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div> -->
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click');">Cerrar</button>
    </div>
  </ng-template>
  