<div class="main-content">
    <div class="container-fluid">
        <div class="row">
         <!-- <button class="btn" type="button btn-primary" style="background-color:#21a4d8;" (click)="login()">Iniciar Sesion </button>
         <button  class="btn" type="button btn-primary" style="background-color:#f1287c;" (click)="logOut(usuarioEnLinea.ID)">Cierra Sesion </button>     -->
        </div>
        <div class="row">
          <button (click)="nvoTicket()" class="btn btn-primary">
              Generar Ticket
          </button>
         
        </div>




        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tickets:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#nuevas" data-toggle="tab">
                                            <i class="material-icons">add_task</i> Nuevas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#completas" data-toggle="tab">
                                            <i class="material-icons">done</i> Completadas
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#porvencer" data-toggle="tab">
                                            <i class="material-icons">pending_actions</i> Por Vencer
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                      <a mat-button class="nav-link" href="#vencidas" data-toggle="tab">
                                          <i class="material-icons">update</i> Vencidos
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <!-- <li class="nav-item">
                                      <a mat-button class="nav-link" href="#vencidasundia" data-toggle="tab">
                                          <i class="material-icons">watch_later</i> Vencidos por 1 Dia
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#vencidasdosdias" data-toggle="tab">
                                          <i class="material-icons">watch_later</i> Vencidos por 2 Dias
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    
    <button style="right: 0;" (click)="refresh()" class="btn btn-warning">
        Actualiza Datos
    </button> 
                    <div class="row">           
                   
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="nuevas">
                                <table class="table">
                                    <thead>
                                      <tr>
                                          <td>
                                              Completar
                                          </td>
                                          <td>
                                              Area
                                          </td>
                                          <td>
                                            Descripcion
                                          </td>
                                          <td>
                                            Creado Por
                                        </td>
                                          <td>
                                              Responsable
                                          </td>
                                          <td>
                                              Fecha de Inicio
                                          </td>
                                          <td>
                                              Hora Abierto
                                          </td>

                                      </tr>
                                  </thead>
                                    <tbody>
                                        <ng-container *ngFor="let tickets of listaTicketsNuevos">
                                          <tr [style.background-color]="tickets.Color">
                                              <td style="text-align: center;">
                                                  <div class="form-check">
                                                      <label class="form-check-label">
                                                          <input class="form-check-input" type="checkbox" value="" (change)="completar(tickets)">
                                                          <span class="form-check-sign">
                                                              <span class="check"></span>
                                                          </span>
                                                      </label>
                                                  </div>
                                              </td>
                                              <td>{{tickets.Area}}</td>
                                              <td>{{tickets.Descripcion}}</td>

                                              <td>{{tickets.Creado_por}}</td>

                                              <td>{{tickets.Responsable}}</td>
                                              <td>{{tickets.Fecha_Inicio.split("T",1)}}</td>
                                              <td>{{tickets.Hora_Abierto}}</td>


                                              <!-- <td class="text-right td-actions">
                                                  <button  mat-raised-button type="button" matTooltip="Editar Tarea" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                      <i class="material-icons">edit</i>
                                                  </button>
                                                  <button mat-raised-button type="button" matTooltip="Eliminar Tarea" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                      <i class="material-icons">close</i>
                                                  </button>
                                              </td> -->
                                          </tr>
                                        </ng-container>
                                        
  
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="completas">
                                <!-- <div class="row" style="padding-left: 20%;">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label>FECHA INICIAL</label> &nbsp;&nbsp;
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   name="dp" [(ngModel)]="model" ngbDatepicker [footerTemplate]="footerTemplate" #d="ngbDatepicker" (ngModelChange)="fechaIni($event)">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">              <i class="fa fa-calendar icon"></i>
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                      <ng-template #footerTemplate>
                                        <hr class="my-0">
                                        <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
                                        <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                                      </ng-template>
                                      <form class="form-inline">
                                        <div class="form-group">
                                            <label>FECHA FINAL</label> &nbsp;&nbsp;
                                            <div class="input-group">
                                            <input class="form-control" placeholder="yyyy-mm-dd"
                                                   name="dpFin" [(ngModel)]="modelFin" ngbDatepicker [footerTemplate]="footerTemplate" #f="ngbDatepicker">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-secondary calendar" (click)="f.toggle()" type="button">
                                                <i class="fa fa-calendar icon"></i>
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </form>
                                      
                                      <ng-template #footerTemplate>
                                        <hr class="my-0">
                                        <button class="btn btn-primary btn-sm m-2 float-left" (click)="model = today; d.close()">Today</button>
                                        <button class="btn btn-secondary btn-sm m-2 float-right" (click)="d.close()">Close</button>
                                      </ng-template>
                                </div> -->
                                   
                                <table class="table">
                                  <thead>
                                      <tr>
                                          <td>
                                              Completar
                                          </td>
                                          <td>
                                              Area
                                          </td>
                                          <td>
                                            Descripcion
                                          </td>
                                          <td>
                                            Notas al Completar
                                          </td>
                                          <td>
                                              Responsable
                                          </td>
                                          <td>
                                              Fecha de Inicio
                                          </td>
                                          <td>
                                              Hora Abierto
                                          </td>
                                          <td>
                                            Fecha Cerrado
                                        </td>
                                        <td>
                                            Hora Cerrado
                                        </td>
                                      </tr>
                                  </thead>
                                  <ng-container *ngFor="let tickets of listaTicketsCompletas">
                                      <tr >
                                          <td style="text-align: center;">
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input checked disabled class="form-check-input" type="checkbox" value="" (change)="completar()">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{tickets.Area}}</td>
                                          <td>{{tickets.Descripcion}}</td>
                                          <td>{{tickets.nota_completado}}</td>
                                          <td>{{tickets.Responsable}}</td>
                                          <td>{{tickets.Fecha_Inicio.split("T",1)}}</td>
                                          <td>{{tickets.Hora_Abierto}}</td>
                                          <td>{{tickets.Fecha_Fin.split("T",1)}}</td>
                                          <td>{{tickets.Fecha_Fin.split(",",2)}}</td>

                                          <!-- <td class="text-right td-actions">
                                              <button  mat-raised-button type="button" matTooltip="Editar Tarea" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Eliminar Tarea" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td> -->
                                      </tr>
                                    </ng-container>
                                </table>
                            </div>
                            <div class="tab-pane" id="porvencer">
                                <table class="table">
                                  <thead>
                                      <tr>
                                          <td>
                                              Completar
                                          </td>
                                          <td>
                                              Area
                                          </td>
                                          <td>
                                            Descripcion
                                          </td>
                                          <td>
                                              Responsable
                                          </td>
                                          <td>
                                              Fecha de Inicio
                                          </td>
                                          <td>
                                              Hora Abierto
                                          </td>

                                      </tr>
                                  </thead>
                                  <ng-container *ngFor="let tickets of listaTicketsXVencer">
                                      <tr [style.background-color]="tickets.Color">
                                          <td style="text-align: center;">
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" (change)="completar()">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{tickets.Area}}</td>
                                          <td>{{tickets.Descripcion}}</td>
                                          <td>{{tickets.Responsable}}</td>
                                          <td>{{tickets.Fecha_Inicio.split("T",1)}}</td>
                                          <td>{{tickets.Hora_Abierto}}</td>


                                          <!-- <td class="text-right td-actions">
                                              <button  mat-raised-button type="button" matTooltip="Editar Tarea" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Eliminar Tarea" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td> -->
                                      </tr>
                                    </ng-container>
                                </table>
                            </div>
                            <div class="tab-pane" id="vencidas">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <td>
                                            Completar
                                          </td>
                                          <td>
                                              Area
                                          </td>
                                          <td>
                                              Descripcion
                                          </td>
                                          <td>
                                              Responsable
                                          </td>
                                          <td>
                                              Fecha de Inicio
                                          </td>
                                          <td>
                                              Hora Abierto
                                          </td>

                                      </tr>
                                  </thead>
                                  <ng-container *ngFor="let tickets of listaTicketsVencidas">
                                      <tr [style.background-color]="tickets.Color">
                                          <td style="text-align: center;">
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" (change)="completar()">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{tickets.Area}}</td>
                                          <td>{{tickets.Descripcion}}</td>
                                          <td>{{tickets.Responsable}}</td>
                                          <td>{{tickets.Fecha_Inicio.split("T",1)}}</td>
                                          <td>{{tickets.Hora_Abierto}}</td>

                                          <!-- <td class="text-right td-actions">
                                              <button  mat-raised-button type="button" matTooltip="Editar Tarea" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Eliminar Tarea" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td> -->
                                      </tr>
                                    </ng-container>
                              </table>
                          </div>
                          <!-- <div class="tab-pane" id="vencidasundia">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <td>
                                              Completar
                                          </td>
                                          <td>
                                              Area
                                          </td>
                                          <td>
                                              Responsable
                                          </td>
                                          <td>
                                              Fecha de Inicio
                                          </td>
                                          <td>
                                              Hora Abierto
                                          </td>

                                      </tr>
                                  </thead>
                                  <ng-container *ngFor="let tickets of listaTicketsVencidasUnDia">
                                      <tr [style.background-color]="tickets.Color">
                                          <td style="text-align: center;">
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" (change)="completar()">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{tickets.Area}}</td>
                                          <td>{{tickets.Descripcion}}</td>
                                          <td>{{tickets.Responsable}}</td>
                                          <td>{{tickets.Fecha_Inicio.split("T",1)}}</td>
                                          <td>{{tickets.Hora_Abierto}}</td>


                                      </tr>
                                    </ng-container>
                              </table>
                          </div>
                          <div class="tab-pane" id="vencidasdosdias">
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <td>
                                              Completar
                                          </td>
                                          <td>
                                              Area
                                          </td>
                                          <td>
                                              Responsable
                                          </td>
                                          <td>
                                              Fecha de Inicio
                                          </td>
                                          <td>
                                              Hora Abierto
                                          </td>

                                      </tr>
                                  </thead>
                                  <ng-container *ngFor="let tickets of listaTicketsVencidasDosDias">
                                      <tr [style.background-color]="tickets.Color">
                                          <td style="text-align: center;">
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" (change)="completar()">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{tickets.Area}}</td>
                                          <td>{{tickets.Descripcion}}</td>
                                          <td>{{tickets.Responsable}}</td>
                                          <td>{{tickets.Fecha_Inicio.split("T",1)}}</td>
                                          <td>{{tickets.Hora_Abierto}}</td>


                                        
                                      </tr>
                                    </ng-container>
                              </table>
                          </div> -->
                        </div>
                    </div>
                </div>
            </div>
          </div>

            
    </div>
  
<!--   
  <ng-template #error let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Se ah producido un Error contacte a assesor</h4>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click');">Cerrar</button>
      </div>
    </ng-template> -->

    <ng-template #error let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{mensaje}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click');getTickets()">Cerrar</button>
        </div>
    </ng-template>


      <ng-template #exito let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{mensaje}}</h4>
          <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <!-- <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div> -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click');">Cerrar</button>
        </div> -->
      </ng-template>