<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Nuevo Ticket</h4>
                    </div>
                    <div class="card-body">
                        <form>
                          <h4>Selecciona el Plantel: </h4>
                            <mat-form-field appearance="fill">
                            <mat-label>Selecciona Plantel</mat-label>
                            <mat-select #plantel>
                              <ng-container *ngFor="let plantel of listaPlanteles">
                                <mat-option  value="{{plantel.plantel}}">{{plantel.plantel}}</mat-option>
                            </ng-container>  
                            </mat-select>
                            </mat-form-field>

                            <h4>Selecciona Area: </h4>
                            <mat-form-field appearance="fill">
                            <mat-label>Selecciona Area</mat-label>
                            <mat-select #selected>
                              <ng-container *ngFor="let area of listaAreas">
                                <mat-option (click)="filtroAreas(selected.value)" value="{{area.Descripcion}}">{{area.Descripcion}}</mat-option>
                            </ng-container>  
                            </mat-select>
                            </mat-form-field>

                            <h4>Responsable</h4>
                            <mat-form-field appearance="fill">
                            <mat-label>Selecciona Responsable</mat-label>
                            <mat-select (selectionChange)="onChange($event)" #responsable>
                              <ng-container *ngFor="let usuario of listaUsuariosPorArea">
                                  <mat-option value="{{usuario.Usuario}}">{{usuario.Nombre}}</mat-option>                    
                            </ng-container>  
                            </mat-select>
                            </mat-form-field>

                            <h4>Descripcion</h4>
                            <input #descripcion class="form-control">
                <br>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="guardaTicket(selected.value,responsable.value,descripcion.value);close()">Guardar Ticket</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>

  <ng-template #exito let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Ticket Generado con Exito</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div> -->
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click');">Cerrar</button>
    </div>
  </ng-template>
  